@media(max-width: 1400px) {
	.main {
		margin-top:-900px;
	}
}
@media(max-width: 1200px) {
	.hero-title-heading {
		font-size: 68px;
	}

	.article-text::before {
		width: 140px;
		height: 140px;
		font-size: 140px;
	}

	.article-text {
		padding-left: 50px;
		max-width: 50%;
	}

	.article-img {
		width: 50%;
	}
}

@media(max-width: 1100px) {
	.footer-nav + .footer-nav {
		margin-left: 100px;
	}
}

@media(max-width: 920px) {
	.footer-row {
		flex-direction: column-reverse;		
	}

	.footer-nav-wrapper{
		margin-bottom: 80px;
	}
}

@media(max-width: 800px) {
	
	.header { 
		padding-bottom: 200px;
	}
	.nav, .account {
		display: none;
	}

	.begin {
		margin-bottom: 90px;
	}

	.nav-button {
		display: block;
	}
	
	.mobile-nav-active {
		display: flex;
	}

	.hero-title-category::before {
		width: 42px;
	}

	.hero-title-category {
		font-style: 14px;
		padding-left: 62px;
	}

	.article-title {
		font-size: 44px;
	}
}

@media(max-width: 720px) {
	.article {
		flex-direction: column-reverse;
		margin-bottom: 100px;
	}

	.article:nth-child(even) {
		flex-direction: column-reverse;
	}

	.article-text {
		max-width: 100%;
		margin-right: 0px;
	}

	.article-img {
		max-width: 100%;
		width: 100%;
		margin-bottom: 75px;
	}
}

@media(max-width: 560px) {
	.hero-title-heading {
		font-size: 44px;
	}
	.footer-nav-wrapper {
		flex-direction: column;
	}

	.footer-nav + .footer-nav {
		margin-left: 0px;
		margin-top: 60px;
	}
}